fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
python-multipart
pandas
openpyxl
python-dotenv
pydantic[email]
pydantic-settings
emails
aiosmtplib
httpx
